<!doctype html>

  <head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  </head>
  
  <body>

    
    <p style="text-align:center;"><a href="/video"></a><img src="{{ url_for('static', filename='images/rodtube.png') }}" alt="Rodtube" > </a></p> 
    

    <h1 style="text-align:center;">Site de streaming gratuit 😎 </h1>
    <p style="text-align:center;"><a href="/video"><img src="{{ url_for('static', filename='images/sonic_rojo.gif') }}" alt="Rodtube" > </a></p> 

  

    
  </body>
