<!doctype html>

  <head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  </head>
  
  <body>

    
    <img src="{{ url_for('static', filename='images/rodtube.png') }}" alt="Rodtube" > 
    
    
    

    <div class="container">

        {% for video in donees %}
          {% if loop.index0 % 3 == 0 %}
            <div class="row">
          {% endif %}

            <div class="col-md-4">
                
                <div class="card">
                    <img class="card-img-top" src="http://www.dailymotion.com/thumbnail/video/{{ video['id'] }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ video['channel']  }} {{ video['title'] }}</h4>
                        <p class="card-text"></p>

                        <a name="" id="" class="btn btn-primary" href="http://www.dailymotion.com/video/{{ video['id'] }}" role="button"> voir video </a>

                    </div>
                </div>

            </div>

          {% if loop.index0 % 3 == 2 %}
            </div>
          {% endif %}
        {% endfor %}

    </div>
    
  

  </body>




